{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>تیشرت زنانه</title>
    <link rel="stylesheet" href="{% static 'styles/other_product.css' %}">
</head>

<body>

<!--header-->
<div class="header">
    <div class="logo-container">
        <img src="{% static 'images/other_product/LOGO.png' %}" alt="logo" width="50px" height="50px">
        <div class="logo-text">
            <p style="margin: 0;line-height: 1;"><span style="color: #A72F3B">ک</span>استومی</p>
            <div class="subtext">فروشگاه اینترنتی</div>
        </div>
    </div>
    <div class="search-container">
        <input type="text" placeholder="جستجو" class="search-box">
        <button class="search-icon">
            <img src="{% static 'images/other_product/search-normal.svg' %}" width="24" height="24">
        </button>
    </div>
    <div class="actions">
        <a href="#" class="links-container">
            <img src="{% static 'images/other_product/Login.png' %}" alt="login">
            <span>ورود | ثبت‌نام</span>
        </a>
        <a href="#" class="links-container">
            <img src="{% static 'images/other_product/shopping-cart.png' %}" alt="shopping">
            <span>سبد خرید</span>
            <span class="numbers">۰</span>
        </a>
    </div>
</div>

<div class="head-container">
    <a href="#" class="paint">
        <img src="{% static 'images/other_product/magicpen.png' %}" style="margin-left: 4px">
        <span>خودت طراحیش کن!</span>
    </a>
    <a href="#" class="items">پوشاک</a>
    <a href="#" class="items">لوازم خانه</a>
    <a href="#" class="items">قاب موبایل</a>
    <a href="#" class="items">اکسسوری</a>
    <a href="#" class="items">مدرسه و اداره</a>
    <a href="#" class="items">کارت و پوستر</a>
    <a href="#" class="items">جشن و مهمانی</a>
</div>

<!--body-->
<div class="body_container">
    <div class="right-side">
        <div class="headers">
            <p>فیلتر ها</p>
            <p style="font-size: 10px;color: #A72F3B;">حذف فیلترها</p>
        </div>
        <div class="options">
            <select>
                <option disabled selected>برند</option>
                <option value="Gucci">Gucci</option>
                <option value="Hermès">Hermès</option>
                <option value="Chanel">Chanel</option>
            </select>
        </div>
        <div class="options">
            <select>
                <option disabled selected>برند</option>
                <option value="Gucci">Gucci</option>
                <option value="Hermès">Hermès</option>
                <option value="Chanel">Chanel</option>
            </select>
        </div>
        <div class="options">
            <select>
                <option disabled selected>اندازه</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
        </div>
        <div class="options">
            <select>
                <option disabled selected>رنگ</option>
                <option value="white">سفید</option>
                <option value="black">مشکی</option>
                <option value="red">قرمز</option>
                <option value="blue">آبی</option>
            </select>
        </div>
        <div class="switch-bar">
            <p>ارسال امروز</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slide"></span>
            </label>
        </div>
        <div class="switch-bar">
            <p>فقط کالاهای موجود</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slide"></span>
            </label>
        </div>
        <div class="options">
            <select>
                <option disabled selected>محدوده قیمت</option>
                <option value="100,000">تا ۱۰۰ هزار تومان</option>
                <option value="200,000">تا ۲۰۰ هزار تومان</option>
                <option value="more">بیشتر از ۲۰۰ هزار تومان</option>
            </select>
        </div>
        <div class="options">
            <select>
                <option disabled selected>مدل</option>
                <option value="مجلسی">لباس مجلسی</option>
                <option value="خانگی">لباس خانگی</option>
                <option value="اداری">لباس اداری</option>
            </select>
        </div>
        <div class="options-last">
            <select>
                <option disabled selected>طرح</option>
                <option value="ساده">ساده</option>
                <option value="متن">به همراه متن</option>
                <option value="تصویر">به همراه تصویر</option>
            </select>
        </div>
    </div>
    <div class="left_side">
        <div class="container-filters">
            <a href="#" class="active">پربازدیدترین</a>
            <a href="#">جدیدترین</a>
            <a href="#">پرفروش‌ترین</a>
            <a href="#">گران‌ترین</a>
            <a href="#">ارزان‌ترین</a>
        </div>
        <div class="products">
            <a href="#" class="product">
                <img src="{% static 'images/other_product/img.svg' %}" alt="تی‌شرت زنانه">
                <div class="header-product">
                    <h6>تیشرت زنانه کد ۱۴۴۰</h6>
                    <button><img src="{% static 'images/other_product/Like.svg' %}"></button>
                </div>
                <p>جنس نخ، رنگ‌ بندی متنوع، قابل طراحی</p>
                <h5 class="price">۲۰۰,۰۰۰ تومان</h5>
            </a>
            <a href="#" class="product">
                <img src="{% static 'images/other_product/img%20(1).svg' %}" alt="تی‌شرت زنانه">
                <div class="header-product">
                    <h6>تیشرت زنانه کد ۱۴۴۰</h6>
                    <button><img src="{% static 'images/other_product/Like.svg' %}"></button>
                </div>
                <p>جنس نخ، رنگ‌ بندی متنوع، قابل طراحی</p>
                <h5 class="price">۲۰۰,۰۰۰ تومان</h5>
            </a>
            <a href="#" class="product">
                <img src="{% static 'images/other_product/img%20(2).svg' %}" alt="تی‌شرت زنانه">
                <div class="header-product">
                    <h6>تیشرت زنانه کد ۱۴۴۰</h6>
                    <button><img src="{% static 'images/other_product/Like.svg' %}"></button>
                </div>
                <p>جنس نخ، رنگ ‌بندی متنوع، قابل طراحی</p>
                <h5 class="price">۲۰۰,۰۰۰ تومان</h5>
            </a>
            <a href="#" class="product">
                <img src="{% static 'images/other_product/img%20(3).svg' %}" alt="تی‌شرت زنانه">
                <div class="header-product">
                    <h6>تیشرت زنانه کد ۱۴۴۰</h6>
                    <button><img src="{% static 'images/other_product/Like.svg' %}"></button>
                </div>
                <p>جنس نخ، رنگ‌ بندی متنوع، قابل طراحی</p>
                <h5 class="price">۲۰۰,۰۰۰ تومان</h5>
            </a>
            <a href="#" class="product">
                <img src="{% static 'images/other_product/img%20(4).svg' %}" alt="تی‌شرت زنانه">
                <div class="header-product">
                    <h6>تیشرت زنانه کد ۱۴۴۰</h6>
                    <button><img src="{% static 'images/other_product/Like.svg' %}"></button>
                </div>
                <p>جنس نخ، رنگ ‌بندی متنوع، قابل طراحی</p>
                <h5 class="price">۲۰۰,۰۰۰ تومان</h5>
            </a>
            <a href="#" class="product">
                <img src="{% static 'images/other_product/img%20(5).svg' %}" alt="تی‌شرت زنانه">
                <div class="header-product">
                    <h6>تیشرت زنانه کد ۱۴۴۰</h6>
                    <button><img src="{% static 'images/other_product/Like.svg' %}"></button>
                </div>
                <p>جنس نخ، رنگ ‌بندی متنوع، قابل طراحی</p>
                <h5 class="price">۲۰۰,۰۰۰ تومان</h5>
            </a>
            <a href="#" class="product">
                <img src="{% static 'images/other_product/img%20(6).svg' %}" alt="تی‌شرت زنانه">
                <div class="header-product">
                    <h6>تیشرت زنانه کد ۱۴۴۰</h6>
                    <button><img src="{% static 'images/other_product/Like.svg' %}"></button>
                </div>
                <p>جنس نخ، رنگ‌ بندی متنوع، قابل طراحی</p>
                <h5 class="price">۲۰۰,۰۰۰ تومان</h5>
            </a>
            <a href="#" class="product">
                <img src="{% static 'images/other_product/img%20(7).svg' %}" alt="تی‌شرت زنانه">
                <div class="header-product">
                    <h6>تیشرت زنانه کد ۱۴۴۰</h6>
                    <button><img src="{% static 'images/other_product/Like.svg' %}"></button>
                </div>
                <p>جنس نخ، رنگ ‌بندی متنوع، قابل طراحی</p>
                <h5 class="price">۲۰۰,۰۰۰ تومان</h5>
            </a>
            <a href="#" class="product">
                <img src="{% static 'images/other_product/img%20(8).svg' %}" alt="تی‌شرت زنانه">
                <div class="header-product">
                    <h6>تیشرت زنانه کد ۱۴۴۰</h6>
                    <button><img src="{% static 'images/other_product/Like.svg' %}"></button>
                </div>
                <p>جنس نخ، رنگ ‌بندی متنوع، قابل طراحی</p>
                <h5 class="price">۲۰۰,۰۰۰ تومان</h5>
            </a>
        </div>
        <div class="navigation-items">
            <button><img src="{% static 'images/other_product/arrow-right.svg' %}"></button>
            <div class="pages">
                <div class="number">۱</div>
                <div class="number active-page">۲</div>
                <div class="number">۳</div>
                <div class="number">۴</div>
                <div class="number">۵</div>
                <div class="number">۶</div>
                <div class="number">۷</div>
                <div class="number">۸</div>
                <div class="number">۹</div>
                <div class="number">۱۰</div>
                <div class="number more">...</div>
                <div class="number">۵۰</div>
            </div>
            <button><img src="{% static 'images/other_product/arrow-left.svg' %}"></button>
        </div>
    </div>
</div>

<!--footer-->
<div class="footer1">
    <div class="container-footer1">
        <p>برای دریافت آخرین اخبار و تخفیف های جدید، ایمیل خود را وارد نمایید</p>
        <form class="email-form">
            <input type="email" class="email" placeholder="ایمیل شما">
            <button type="submit" class="submit-btn-email">ثبت</button>
        </form>
    </div>
    <div class="social">
        <p>ما را در شبکه های اجتماعی دنبال کنید</p>
        <div class="social-img">
            <a href="#">
                <img src="{% static 'images/YouTube%20svg.png' %}" style="margin: 20px">
            </a>
            <a href="#">
                <img src="{% static 'images/Pinterest%20svg.png' %}" style="margin: 10px">
            </a>
            <a href="#">
                <img src="{% static 'images/174-1744532_facebook-icon-link-facebook-white-icon-hd-png-fotor-bg-remover-2023041811029%201.png' %}" style="margin: 10px">
            </a>
            <a href="#">
                <img src="{% static 'images/Instagram%20svg.png' %}" style="margin: 10px">
            </a>
        </div>
    </div>
</div>

<div class="footer2">
    <div class="links-buttom">
        <div class="container-footer2">
            <h3>همراه با کاستومی</h3>
            <a href="#"> فروش محصولات</a>
            <a href="#">فرصت همکاری </a>
            <a href="#"> تماس با ما</a>
            <a href="#">نقشه سایت </a>
        </div>
        <div class="container-footer2">
            <h3>خدمات مشتریان</h3>
            <a href="#">سوالات متداول</a>
            <a href="#">حریم خصوصی</a>
            <a href="#">ثبت شکایت</a>
            <a href="#">ضمانت نامه محصولات</a>
        </div>
        <div class="container-footer2">
            <h3>راهنمای خرید</h3>
            <a href="#">راهنمای ثبت سفارش</a>
            <a href="#">شیوه های پرداخت</a>
            <a href="#">نحوه ارسال سفارش ها</a>
            <a href="#">شرایط بازگرداندن محصول</a>
        </div>
    </div>

    <div class="footer2-info">
        <p style="font-size: 18px;font-weight: bold">فروشگاه اینترنتی کاستومی</p>
        <div class="call">
            <span>تماس با پشتیبانی:</span>
            <span>۰۲۱-۳۴۵۶۰۰۰</span>
            <span>پاسخگویی ۲۴ ساعته، ۷ روز هفته</span>
        </div>
        <div class="certificate">
                <img src="{% static 'images/01.png' %}"  width="54" height="64">
                <img src="{% static 'images/02.png' %}"  width="54" height="64">
                <img src="{% static 'images/03%201.png' %}"  width="54" height="64">
        </div>
    </div>
    <div class="last-text">
        <p>تمامی حقوق این وبسایت متعلق به فروشگاه اینترنتی کاستومی می‌باشد.</p>
    </div>
</div>
</body>
</html>