*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IRANyekan', "IRANSans Medium", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    direction: rtl;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/IRANSansWeb.woff2') format('woff2'),
    url('../fonts/IRANSansWeb.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'CustomFont';
}

.top-header{
    width: 1521px;
    height: 40px;
    background-color: #A72F3B;
    text-align: center;
    padding-top: 7px;
}

.top-header p{
    font-size: 14px;
    color: #FFFFFF;
}

.header {
    background: white;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
    padding: 26.61px 148.5px;
    margin-bottom: 24px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 188.91px;
    height: 50.77px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtext {
    font-weight: normal;
    color: black;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.1;
    letter-spacing: -0.9px;
}

.search-container {
    position: relative;
    width: 596px;
    height: 48px;
}

.search-box {
    border: 1px solid #D6D6D6;
    width: 100%;
    padding: 11px 24px;
    border-radius: 16px;
    font-size: 14px;
    direction: rtl;
}

.search-box::placeholder {
    color: #A72F3B;
}

.search-icon {
    position: absolute;
    left: 16px;
    bottom: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.actions {
    display: flex;
    width: 288px;
    padding: 16px;
    gap: 1.5rem;
}

.links-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 16px;
    text-decoration: none;
    color: #434343;
    font-size: 0.9rem;
    position: relative;
}

.numbers{
    position: absolute;
    top: -8px;
    right: -8px;
    background: #DCACB1;
    color: black;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: bold;
}

.head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 148.5px;
    gap: 63px;
}

.paint {
    width: 184px;
    height: 48px;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    background: #A72F3B;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    color: #434343;
    text-decoration: none;
    font-size: 17px;
    white-space: nowrap;
}

/*body*/
.body_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    margin-right: 148.5px;
    margin-top: 24px;
}

.profile {
    display: flex;
    flex-direction: column;
    border-radius:16px;
    border: 1px solid #EDEDED;
    width: 392px;
    height: 850px;
    padding: 24px 38px 24px 32px;
    font-size: 20px;
    margin-bottom: 163px;
}

.face {
    text-align: center;
    border-bottom: 1px solid #EDEDED;
}

.face p{
    font-size: 20px;
}

.profile-pic {
    position: relative;
    display: inline-block;
}

.profile-pic img {
    border-radius: 50%;
    object-fit: cover;
}

.camera-button {
    position: absolute;
    bottom: 13px;
    left: 5px;
    width: 36px;
    height: 36px;
    background-color: #c84b61;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.camera-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.profile-details .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    color: #434343;
}

.row {
    display: flex;
    align-items: center;
}

.row:first-child{
    margin-top: 24px;
}

.row p {
    margin: 0;
    padding: 0;
}

.row img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.add{
    background-color: white;
    border: none;
    padding: 0;
}

.profile-details .row-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 12px;
    color: #434343;
}

.row-bottom {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 12px;
    text-decoration: none;
}

.row-bottom:first-child{
    margin-top: 24px;
}

.row-bottom p {
    margin: 0;
    padding: 0;
}

.row-bottom img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.text-icon {
    display: flex;
    align-items: center;
    gap: 6px;
}

.profile-details .row-bottom:last-child {
    border-bottom: none;
}

.profile-details .row-bottom:nth-child(5) {
    border-bottom: 1px solid #B95962;
}

.order-history {
    position: relative;
    border-radius:16px;
    border: 1px solid #EDEDED;
    width: 808px;
    height: 738px;
    padding: 24px;
    margin: 0 ;
    display: block;
}

.order-history h4 {
    margin: 0;
    font-size: 24px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    gap: 27px;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px;
    margin-top: 24px;
}

.tabs a{
    text-decoration: none;
}

.tab {
    cursor: pointer;
    color: #555;
    font-size: 16px;
    position: relative;
}

.tab.active {
    color: #A72F3B;
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #A72F3B;
    margin: auto;
    width: 100%;
}

.order-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    gap: 64px;
}

.order-content p {
    font-size: 18px;
    color: #444;
}

.delivered{
    display: none;
    flex-direction: column;
    gap: 16px;
}

.products-delivered{
    width: 808px;
    height: 3454px;
    position: relative;
    border-radius:16px;
    border: 1px solid #EDEDED;
    padding: 24px;
    margin: 0 ;
}

.products-delivered h4 {
    margin: 0;
    font-size: 24px;
}

.items-section {
    width: 760px;
    height: 306px;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.items-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    color: #434343;
}

.items-details {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    font-size: 16px;
    color: #898989;
    margin-top:16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #EDEDED;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
}

.items-details span{
    color: #434343;
}

.product {
    display: flex;
    justify-content: flex-start;
    gap: 18.67px;
    padding: 16px;
    border-bottom: 1px solid #EDEDED;
    margin-left: -16px;
    margin-right: -16px;
}

.product-images img {
    width: 88px;
    height: 88px;
    border-radius: 8px;
}

.items-view {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    padding: 8px 14px;
    gap: 4px;
    margin-top: 16px;
}

.items-view a {
    text-decoration: none;
    color: #A72F3B;
}

.navigation-items{
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.navigation-items button{
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
}

.pages{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 12px 36px 12px 37px;
    border: 1px solid #D6D6D6;
    border-radius: 24px;
    width: 704px;
    height: 56px;
}

.number{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #656565;
    background-color: white;
    text-align: center;
    line-height: 32px;
}

.more {
    border:none;
}

.active-page{
    background-color: #CA8289;
}

.returned  {
    display: none;
    position: relative;
    border-radius:16px;
    border: 1px solid #EDEDED;
    width: 808px;
    height: 1194px;
    padding: 24px;
    margin: 0 0 56px 0 ;
}

.returned h4 {
    margin: 0;
    font-size: 24px;
}

.items-returned {
    width: 760px;
    height: 240px;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    padding-right: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.product-returned{
    width: 360px;
    height: 163px;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    padding-right: 16px;
    padding-top: 7px;
}

.header-returned{
    color: #ED2E2E;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 16px;
}

.returned-details{
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    font-size: 16px;
    color: #898989;
    margin-top:16px;
    padding-bottom: 16px;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
}

.returned-details span{
    color: #434343;
}

.returned-details button{
    margin: 0;
    background-color: white;
    border: none;
}

.returned-images{
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #AFAFAF;
    font-size: 12px;
}

.detail-images{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24.5px;
}

.canceled{
    display: none;
    width: 808px;
    height: 1128px;
    position: relative;
    border-radius:16px;
    border: 1px solid #EDEDED;
    padding: 24px;
    margin: 0 0 56px 0 ;
}

.canceled h4 {
    margin: 0;
    font-size: 24px;
}

/*footer*/
.footer1 {
    background-color: #641C23;
    display: flex;
    align-items: center;
    height:180px;
    color: #fff;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.container_footer1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.email-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-right: 148.5px;
    margin-bottom: 36px;
}

.container-footer1 p{
    margin-right:148.5px;
    margin-top: 56px;
    margin-bottom: 4px;
    font-size: 13.3px;
}

.email {
    border-radius: 8px;
    margin-top: 0;
    padding: 10px;
    background: #641C23;
    color: #A72F3B;
    border: 1px solid white;
    width: 392px;
    height: 40px;
}

.submit-btn-email {
    background-color: #A72F3B;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    width:80px;
    height:40px;
    padding: 0 20px;
}

.email::placeholder {
    color: #AFAFAF;
}

.social {
    flex: 1;
    min-width: 250px;
    margin-right:439px;
    margin-top:40px;
    margin-bottom:60px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.social p{
    margin-bottom: 10px;
    font-size: 14px;
}

.social-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-top: 24px;
}

.footer2 {
    background: #A72F3B;
    color: white;
    display: flex;
    width: 100%;
    height: 356px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links-buttom{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-right: 148.5px;
    margin-top: 53px;
    font-size: 14px;
}

.container-footer2{
    display: flex;
    font-size: 15px;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.container-footer2 h3{
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 24px;
    font-size: 16px;
}

.container-footer2 a {
    color: white;
    text-decoration: none;
    margin:0 0 20px 0;
    padding: 0;
}

.container-footer2 a:hover {
    text-decoration: underline;
}

.container-footer2 a:last-child{
    margin-bottom: 0;
}

.footer2-info{
    text-align: center;
    margin-top: 53px;
    margin-left: 192px;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin: 16px 0;
}

.call span{
    white-space: nowrap;
    margin-top: 41px;
    font-size: 12px;
}

.certificate{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 72px;
}

.last-text{
    background: #A72F3B;
    width: 100%;
    padding: 0;
}

.last-text p{
    padding: 0;
    margin-right: 148.5px;
    margin-bottom: 21px;
    margin-top: 36px;
    font-size: 10px;
}