*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IRANyekan', "IRANSans Medium", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    direction: rtl;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/IRANSansWeb.woff2') format('woff2'),
    url('../fonts/IRANSansWeb.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'CustomFont';
}

.top-header{
    width: 1521px;
    height: 40px;
    background-color: #A72F3B;
    text-align: center;
    padding-top: 7px;
}

.top-header p{
    font-size: 14px;
    color: #FFFFFF;
}

.header {
    background: white;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
    padding: 26.61px 148.5px;
    margin-bottom: 24px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 188.91px;
    height: 50.77px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtext {
    font-weight: normal;
    color: black;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.1;
    letter-spacing: -0.9px;
}

.search-container {
    position: relative;
    width: 596px;
    height: 48px;
}

.search-box {
    border: 1px solid #D6D6D6;
    width: 100%;
    padding: 11px 24px;
    border-radius: 16px;
    font-size: 14px;
    direction: rtl;
}

.search-box::placeholder {
    color: #A72F3B;
}

.search-icon {
    position: absolute;
    left: 16px;
    bottom: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.actions {
    display: flex;
    width: 288px;
    padding: 16px;
    gap: 1.5rem;
}

.links-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 16px;
    text-decoration: none;
    color: #434343;
    font-size: 0.9rem;
    position: relative;
}

.numbers{
    position: absolute;
    top: -8px;
    right: -8px;
    background: #DCACB1;
    color: black;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: bold;
}

.head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 148.5px;
    gap: 63px;
}

.paint {
    width: 184px;
    height: 48px;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    background: #A72F3B;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    color: #434343;
    text-decoration: none;
    font-size: 17px;
    white-space: nowrap;
}

/*body*/
.body_container{
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    margin-right: 148.5px;
    margin-top: 24px;
}

.right-side {
    width: 288px;
    height: 532px;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headers p{
    font-size: 16px;
    margin: 0;
}

.options {
    font-size: 14px;
    position: relative;
    width: 248px;
    height: 32px;
}

.options select {
    color: #434343;
    width: 100%;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    padding: 3.5px;
    background-color: transparent;
    background-image: url('../images/other_product/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: left center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.options-last {
    font-size: 14px;
    position: relative;
    width: 248px;
    height: 32px;
}

.options-last select {
    color: #434343;
    width: 100%;
    border: none;
    padding: 3.5px;
    background-color: transparent;
    background-image: url('../images/other_product/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: left center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #D6D6D6;
    padding: 3.5px;
}

.switch-bar p{
    color: #434343;
    font-size: 14px;
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #D6D6D6;
    border-radius: 34px;
    transition: .4s;
}

.slide:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 1px;
    transition: .4s;
    background-color: #898989;
    border-radius: 50%;
}

.switch input:checked + .slide {
    background-color: #CA8289;
}

.switch input:checked + .slide:before {
    transform: translateX(16px);
}
/*-----------------------------------------------------------*/
.left_side{
    width: 912px;
}

.container-filters {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 24px;
    padding-right: 8px;
}

.container-filters a {
    font-size: 16px;
    text-decoration: none;
    color: #242424;
    padding: 2.5px 8px 5.5px 8px;
}

a.active {
    border-bottom: 3px solid #A72F3B;
    color: #A72F3B;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    height: 1335px;
    flex-grow: 1;
}

.products a{
    text-decoration: none;
    color: black;
}

.product {
    width: 288px;
    height: 429px;
    border: 1px solid #CBCBCB;
    border-radius: 16px;
    padding: 16px;
    font-size: 14px;
}

.product:hover {
    transform: scale(1.05);
}

.header-product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 83px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.header-product h6{
    font-size: 18px;
    margin: 0;
}

.header-product button{
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
}

.price {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 27px;
}

.price h5{
    margin: 0;
}

.navigation-items{
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
}

.navigation-items button{
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
}

.pages{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 12px 36px 12px 37px;
    border: 1px solid #D6D6D6;
    border-radius: 24px;
    width: 704px;
    height: 56px;
}

.number{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #656565;
    background-color: white;
    text-align: center;
}

.more {
    border:none;
}

.active-page{
    background-color: #CA8289;
}


/*footer*/
.footer1 {
    background-color: #641C23;
    display: flex;
    align-items: center;
    height:180px;
    color: #fff;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.container_footer1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.email-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-right: 148.5px;
    margin-bottom: 36px;
}

.container-footer1 p{
    margin-right:148.5px;
    margin-top: 56px;
    margin-bottom: 4px;
    font-size: 13.3px;
}

.email {
    border-radius: 8px;
    margin-top: 0;
    padding: 10px;
    background: #641C23;
    color: #A72F3B;
    border: 1px solid white;
    width: 392px;
    height: 40px;
}

.submit-btn-email {
    background-color: #A72F3B;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    width:80px;
    height:40px;
    padding: 0 20px;
}

.email::placeholder {
    color: #AFAFAF;
}

.social {
    flex: 1;
    min-width: 250px;
    margin-right:439px;
    margin-top:40px;
    margin-bottom:60px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.social p{
    margin-bottom: 10px;
    font-size: 14px;
}

.social-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-top: 24px;
}

.footer2 {
    background: #A72F3B;
    color: white;
    display: flex;
    width: 100%;
    height: 356px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links-buttom{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-right: 148.5px;
    margin-top: 53px;
    font-size: 14px;
}

.container-footer2{
    display: flex;
    font-size: 15px;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.container-footer2 h3{
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 24px;
    font-size: 16px;
}

.container-footer2 a {
    color: white;
    text-decoration: none;
    margin:0 0 20px 0;
    padding: 0;
}

.container-footer2 a:hover {
    text-decoration: underline;
}

.container-footer2 a:last-child{
    margin-bottom: 0;
}

.footer2-info{
    text-align: center;
    margin-top: 53px;
    margin-left: 192px;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin: 16px 0;
}

.call span{
    white-space: nowrap;
    margin-top: 41px;
    font-size: 12px;
}

.certificate{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 72px;
}

.last-text{
    background: #A72F3B;
    width: 100%;
    padding: 0;
}

.last-text p{
    padding: 0;
    margin-right: 148.5px;
    margin-bottom: 21px;
    margin-top: 36px;
    font-size: 10px;
}