*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IRANyekan', "IRANSans Medium", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    direction: rtl;
    overflow-x: hidden;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/IRANSansWeb.woff2') format('woff2'),
    url('../fonts/IRANSansWeb.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'CustomFont';
}

.top-header{
    width: 1521px;
    height: 40px;
    background-color: #A72F3B;
    text-align: center;
    padding-top: 7px;
}

.top-header p{
    font-size: 14px;
    color: #FFFFFF;
}

.header {
    background: white;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
    padding: 26.61px 148.5px;
    margin-bottom: 24px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 188.91px;
    height: 50.77px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtext {
    font-weight: normal;
    color: black;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.1;
    letter-spacing: -0.9px;
}

.search-container {
    position: relative;
    width: 596px;
    height: 48px;
}

.search-box {
    border: 1px solid #D6D6D6;
    width: 100%;
    padding: 11px 24px;
    border-radius: 16px;
    font-size: 14px;
    direction: rtl;
}

.search-box::placeholder {
    color: #A72F3B;
}

.search-icon {
    position: absolute;
    left: 16px;
    bottom: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.actions {
    display: flex;
    width: 288px;
    padding: 16px;
    gap: 1.5rem;
}

.links-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 16px;
    text-decoration: none;
    color: #434343;
    font-size: 0.9rem;
    position: relative;
}

.numbers{
    position: absolute;
    top: -8px;
    right: -8px;
    background: #DCACB1;
    color: black;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: bold;
}

.head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 148.5px;
    gap: 63px;
}

.paint {
    width: 184px;
    height: 48px;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    background: #A72F3B;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    color: #434343;
    text-decoration: none;
    font-size: 17px;
    white-space: nowrap;
}

/*body*/
.top{
    margin-right: 148.5px;
    margin-top: 32px;
    font-size: 32px;
    margin-bottom: 0;
}

.body_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    margin-right: 148.5px;
    margin-top: 24px;
}

.profile {
    display: flex;
    flex-direction: column;
    border-radius:16px;
    border: 1px solid #EDEDED;
    width: 392px;
    height: 850px;
    padding: 24px 38px 24px 32px;
    font-size: 20px;
    margin-bottom: 163px;
}

.face {
    text-align: center;
    border-bottom: 1px solid #EDEDED;
}

.face p{
    font-size: 20px;
}

.profile-pic {
    position: relative;
    display: inline-block;
}

.profile-pic img {
    border-radius: 50%;
    object-fit: cover;
}

.camera-button {
    position: absolute;
    bottom: 13px;
    left: 5px;
    width: 36px;
    height: 36px;
    background-color: #c84b61;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.camera-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.profile-details .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    color: #434343;
}

.row {
    display: flex;
    align-items: center;
}

.row:first-child{
    margin-top: 24px;
}

.row p {
    margin: 0;
    padding: 0;
}

.row img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.add{
    background-color: white;
    border: none;
    padding: 0;
}

.profile-details .row-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 12px;
    color: #434343;
}

.row-bottom {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 12px;
    text-decoration: none;
}

.row-bottom:first-child{
    margin-top: 24px;
}

.row-bottom p {
    margin: 0;
    padding: 0;
}

.row-bottom img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.text-icon {
    display: flex;
    align-items: center;
    gap: 6px;
}

.profile-details .row-bottom:last-child {
    border-bottom: none;
}

.profile-details .row-bottom:nth-child(4) {
    border-bottom: 1px solid #B95962;
}

.orders{
    width: 808px;
    height: 1660px;
    margin-bottom: 60px;
    border-radius: 16px;
    border: 1px solid #EDEDED;
    padding: 24px;
    position: relative;
}

.orders h4{
    font-size: 24px;
    color: #242424;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.order-info {
    margin-top: 24px;
    border-bottom: 1px solid #EDEDED;
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    border-left: 1px solid #EDEDED;
    padding-right: 74px;
    padding-left: 75px;
}

.column:first-child{
    padding-right: 56px;
    padding-left: 66px;
}

.column:last-child{
    border-left: none;
    padding-right: 81px;
    padding-left: 65px;
}

.order-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.order-headers {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.order-headers p {
    font-size: 18px;
    color: #434343;
    margin: 0;
    padding: 0;
}

.order-text span {
    font-size: 12px;
    color: #434343;
    margin: 0 33px 0 0;
}
/*--------------------------------------------------------------------------*/
.favorite-products{
    border-bottom:1px solid #EDEDED;
    padding-bottom: 24px;
    margin-right: -24px;
    margin-left: -24px;
    padding-left: 24px;
    padding-right: 24px;
}

.favorite-products:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.section-header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-header h4{
    font-size:24px;
    color: #242424;
}

.section-header a{
    text-decoration: none;
    font-size: 14px;
    color: #A72F3B;
}

.fave-products {
    display: flex;
    overflow: hidden;
    margin-left: -24px;
}

.fave-products a{
    text-decoration: none;
    color: black;
}

.fave-product {
    min-width: 288px;
    height:382px;
    padding:16px;
    border:1px solid #EDEDED;
    border-radius:16px;
    margin-left:16px;
}

.header-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 10px;
}

.header-product h6{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header-product button{
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
}

.fave-product p {
    font-size: 14px;
    margin: 0;
}

.price {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
}

.price h5{
    margin: 0;
}

.add-gallery{
    border: 1px solid #A72F3B;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 256px;
    height: 40px;
    margin-top: 15px;
    background-color: white;
}

.add-gallery p{
    font-size: 14px;
    color: #A72F3B;
    margin: 0;
    padding: 0;
}

.arrow-overlay {
    position: absolute;
    left: -20px;
    top: 29.2%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.arrow-overlay1 {
    position: absolute;
    left: -20px;
    top: 58.5%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.arrow-overlay2 {
    position: absolute;
    left: -20px;
    top: 87.6%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

/*footer*/
.footer1 {
    background-color: #641C23;
    display: flex;
    align-items: center;
    height:180px;
    color: #fff;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.container_footer1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.email-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-right: 148.5px;
    margin-bottom: 36px;
}

.container-footer1 p{
    margin-right:148.5px;
    margin-top: 56px;
    margin-bottom: 4px;
    font-size: 13.3px;
}

.email {
    border-radius: 8px;
    margin-top: 0;
    padding: 10px;
    background: #641C23;
    color: #A72F3B;
    border: 1px solid white;
    width: 392px;
    height: 40px;
}

.submit-btn-email {
    background-color: #A72F3B;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    width:80px;
    height:40px;
    padding: 0 20px;
}

.email::placeholder {
    color: #AFAFAF;
}

.social {
    flex: 1;
    min-width: 250px;
    margin-right:439px;
    margin-top:40px;
    margin-bottom:60px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.social p{
    margin-bottom: 10px;
    font-size: 14px;
}

.social-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-top: 24px;
}

.footer2 {
    background: #A72F3B;
    color: white;
    display: flex;
    width: 100%;
    height: 356px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links-buttom{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-right: 148.5px;
    margin-top: 53px;
    font-size: 14px;
}

.container-footer2{
    display: flex;
    font-size: 15px;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.container-footer2 h3{
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 24px;
    font-size: 16px;
}

.container-footer2 a {
    color: white;
    text-decoration: none;
    margin:0 0 20px 0;
    padding: 0;
}

.container-footer2 a:hover {
    text-decoration: underline;
}

.container-footer2 a:last-child{
    margin-bottom: 0;
}

.footer2-info{
    text-align: center;
    margin-top: 53px;
    margin-left: 192px;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin: 16px 0;
}

.call span{
    white-space: nowrap;
    margin-top: 41px;
    font-size: 12px;
}

.certificate{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 72px;
}

.last-text{
    background: #A72F3B;
    width: 100%;
    padding: 0;
}

.last-text p{
    padding: 0;
    margin-right: 148.5px;
    margin-bottom: 21px;
    margin-top: 36px;
    font-size: 10px;
}

.sidebar-mobile{
    display: none;
    width: 100%;
    height: 80px;
    background-color: #A72F3B;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.sidebar-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A72F3B;
    border: none;
    gap: 4px;
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .header {
        display: none;
    }

    .head-container{
        display: none;
    }

    .top{
        display: none;
    }

    .body_container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        margin: 0 0 40px 0;
        padding: 0;
    }

    .profile {
        border: none;
        border-bottom: 3px solid #EDEDED;
        border-radius: 0px;
        width: 100%;
        height: auto;
        font-size: 16px;
        margin: 24px 0 0 0;
        padding : 0 20px 0 20px;
    }

    .face p{
        font-size: 16px;
    }

    .orders{
        width: 100%;
        height: auto;
        margin:0;
        border: none;
        padding : 0;
        position: relative;
        box-sizing: border-box;
    }

    .top-info{
        margin: 0 20px;
    }

    .orders h4 {
        font-size: 18px;
    }

    .order-info {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #EDEDED;
        border-bottom: 1px solid #EDEDED;
        padding: 8px 0 24px 0;
    }

    .order-headers p {
        font-size: 14px;
    }

    .column{
        padding: 0;
        border: none;
    }

    .column:first-child{
        padding : 0;
    }

    .column:last-child{
        padding: 0;
    }

    .favorite-products {
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px 24px 20px;
        margin: 0;
        border-bottom: none;
        position: relative;
    }

    .favorite-products::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        height: 0;
        border-bottom: 1px solid #EDEDED;
    }

    .favorite-products:last-child::after {
        content: none;
    }

    .fave-products {
        margin: 0 0 0 -20px;
        padding: 0;
        width: calc(100% + 20px);
    }

    .fave-product {
        min-width: 152px;
        height: auto;
    }

    .img-product {
        max-width: 100%;
        height: 96px;
        display: block;
        margin: 0 auto;
    }

    .header-product h6{
        font-size: 14px;
    }

    .fave-product p {
        font-size: 12px;
    }

    .price {
        font-size: 18px;
    }

    .arrow-overlay{
        display: none;
    }

    .arrow-overlay1{
        display: none;
    }

    .arrow-overlay2{
        display: none;
    }

    .add-gallery{
        width: 100%;
    }

    .add-gallery p{
        font-size: 10px;
    }

    .footer1{
        display: none;
    }

    .footer2{
        display: none;
    }

    .sidebar-mobile{
        display: flex;
    }
}
